__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.idea/
.vscode/

# Node & Build artifacts
node_modules/
**/node_modules/
.next/
**/.next/
dist/
build/

# Database & Logs
*.db
*.log
.env
.env.local

